
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --color-primary: #78350F;
    --secondary-color: #0F172A;
    --third-color: #FDE68A;
    --font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
    font-family: var(--font-family);
}
body{
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 9rem;
    width: 100%;
    margin-left: 3rem;
    align-items: center;
    font-size: 1.6rem;
}
.nav-lien{
    display: flex;
    gap: 4rem;
    margin-right: 10rem;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--color-primary);
}
.bouton{
    border: solid var(--color-primary) 0.1rem;
    border-radius: 0.5rem;
    height: 3rem;
    width: 15rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.6rem;
}
.nav-nom{
    color: var(--color-primary);
    font-size: 2.3rem;
    
}
.menu{
    display: none;
    background-size: cover;
    background-image: url(./images/menu-scale.png);
}
.section1{
    display: flex;
    flex-direction: column;

}
.section1-1{
    display: flex;
    height: 58rem;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;

}
.section1-1-note{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    width: 50rem;
    height: 25rem;
    gap: 5rem;
}
.section1-1-image{
    background-image: url(./images/Col.png);
    background-size: cover;
    width: 60rem;
    height: 50rem;
}
h1{
    font-size: 5rem;
}
p{
    font-size: 1.4rem;
    color: gray;
}
.buton1{
    display: flex;
    gap: 2rem;
}
.section1-2{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 5rem;
}
.section1-2-note{
    display: flex;
    flex-direction: column;
    width: 37rem;
    height: 20rem;
    gap: 2rem;
}
h6{
    font-size: 2rem;
    color: black;
}
.section2{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    height: 57rem;
}
.pil{
    color: #fff;
}
.section2-note{
    display: flex;
    justify-content: space-between;
    margin: 10rem 5rem 0 3rem;
}
h2{
    color: #fff;
    font-size: 4rem;
}
.section2-lien{
    display: flex;
    flex-direction: column;
    width: 39rem;
    height: 35rem;
    border: solid 0.1rem;
    border-radius: 1rem;
    margin: 5rem 3rem 0 ;
    gap: 2rem;
    box-shadow: 0 0.3rem 0.5rem -0.2rem #fff;
}
.section2-lien-image{
    background-image: url(./images/Picture8.png);
    background-size: cover;
    flex: 1;
}
.section2-lien-note{
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 2.5rem;
    gap: 2rem;
}
h5{
    font-size: 2rem;
}
.section2-2{
    display: flex;
    justify-content: space-between;
}
.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    border: solid 0.1rem;
    width: 33rem;
}
.section2-lien-image1{
    background-image: url(./images/Picture9.png);
    background-size: cover;
    flex: 1;
}
.section2-lien-image2{
    background-image: url(./images/Picture10.png);
    background-size: cover;
    flex: 1;
}
.section3{
    display: flex;
    width: 80%;
    margin-right: 5rem;
    height: 35rem;
    border-radius: 3rem;
    padding: 5rem;
    gap: 5rem;
    box-shadow: 0 1rem 2.5rem -0.5rem #000;
    margin: 9rem 10rem;
    align-items: center;
}
.section3-note{
    width: 52rem;
    gap: 5rem;
}
.check{
    margin: 2rem;
    display: flex;
    align-items: center;
}
.section3-image{
    background: url(./images/Video.png) center top / cover;
    width: 64rem;
    height: 35rem;
    border-radius: 2rem;

}
.section4{
    display: flex;
    gap: 3rem;
    flex-direction: column;
}
.section4-note{
    margin-left: 13rem ;
}
.section4-color{
    margin: 0 auto;
    background-color:#FDE68A;
    width: 116rem;
    height: 32rem;
    display: flex;
    padding-left: 8rem;
    padding-top: 5rem;
    gap: 5rem;
}
.section4-color-note{
    font-family: var(--font-family);
    padding-top: 3rem;
    font-size: 2rem;
    padding-left: 2rem;
    gap: 3rem;
    flex-direction: column;
    display: flex;
    width: 30rem;
    height: 35rem;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px #00000012;
    box-shadow: 0px 10px 15px -3px #0000001A;
}
.section5{
    margin: 10rem 0 5rem 8rem;
    width: 70rem;
    gap: 7rem;
}
.section6{
    margin-left: 8rem;
    display: flex;
    gap: 9rem;
}
.lol{
    display: flex;
    gap: 1rem;
}
span{
    color: #000;
}
.section6-note{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.8rem;
}
.section6-image{
    background-image: url(./images/Col2.png);
    background-size: cover;
    width: 94rem;
    height: 55rem;
}
.section7{
    background-image: url(./images/Section.png);
    background-size: cover;
    width: 100%;
    height: 61rem;
}
.section8{
    margin: 5rem ;
    gap: 3rem;
    display: flex;
    flex-direction: column;
}
.section8-titre{
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
}
.lien{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 1rem;
}
.section8-note{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.section8-lien{
    display: flex;
    flex-direction: column;
    width: 28rem;
    height: 46rem;
}
.section8-lien-image{
    width: 28%;
    height: 22rem;
}
.section8-lien-note{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
}
h3{
    font-size: 1.5rem;
}
.section9{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 3rem;
}
.premier{
    display: flex;
    justify-content: space-between;
}
.deuxieme{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    height: 38rem;
}
.deux-image{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.troisiem{
    display: flex;
    justify-content: space-between;
    margin: 5rem;
}
.boutton{
    border: solid #fff 0.2rem;
    border-radius: 0.5rem;
    height: 3rem;
    width: 15rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.6rem;
}
.lo{
    color: #fff;
}
.section10{
    width: 100%;
    height: 60rem;
    background: #0F172A;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.ligne{
    margin: 5rem 5rem;
    justify-content: space-between;
    display: flex;
    gap: 7rem;
    padding: 2rem;
    border: solid 0.1rem gray ; 
    border-left: none;
    border-right: none;
}
.ligne2{
    display: flex;
    gap: 1rem;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.last-lien{
    color: gray   ;
    display: flex;
    margin-right: 5rem;
    margin-left: 3rem;
    justify-content: space-between;
}
.ram{
    color: gray;
}
.nam{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #fff;
    
}
.last{
    display: flex;
    gap: 2rem;
}
@media screen and (max-width: 430px) {
    .nav-lien{
        display: none;
    }
    .menu{
        display: block;
        width: 5rem;
        height: 5rem;
    }
    .section1-1-image{
        width: 40rem;
    }
   .section1-1, .section1-2{
    flex-direction: column;
   }
   .section1-2{
    margin: 4rem;
   }
   .section2-2, .section2-note{
    flex-direction: column;
   }
   .section2{
    height: 145rem;
   }

    
}
